#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  text-align: initial;
}

html {
  scroll-behavior: smooth;
}

.app-container {
  position: relative;
}


.app-container>* {
  position: relative;
  z-index: 1;
}

@media (max-width: 900px),
(hover: none) and (pointer: coarse) {
  /* Mobile specific adjustments if needed */

  .app-container {
    background: var(--app-bg) !important;
  }
}